<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.isel5gqos">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.isel5gqos.Common.QoSApp"
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/logo_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_launcher_foreground"
        android:supportsRtl="true"
        android:theme="@style/Theme.Isel_5GQos">
        <activity android:name="com.isel5gqos.activities.DashboardActivity" />
        <activity
            android:name="com.isel5gqos.activities.MainActivity"
            android:theme="@style/Laucher"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>